/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/upm_master_thesis_repo.iml
/.idea/vcs.xml
/dwave_token.txt
/localhost.prf
/test_circuits/test_circuit_5/
/test_circuits/test_circuit_6/
